<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <title>Lab Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
     <h1><i>About</i></h1>
     <a href="/works">💪🏻</a>
    </header>
    <section>
      <p class="text">
        Tengo que destacar que aunque parezco una persona tranquila, supongo que me lo ha enseñado mi profesión, 
        soy una persona inquieta y muy activa. Competitivo, aunque sí muy discreto. <br>
        Soy un apasionado de la naturaleza y me encanta practicar deporte al aire libre. Igualmente a Anna e intentamos transmitirle esta pasión a Arlet,
        nos está resultando bastante fácil.
        Otra afición que nos encanta compartir es viajar, y a quien no, verdad? <br>
        Por cierto, Anna es mi mujer y Arlet nuestra hija de nueve años. 😉
      </p>
    </section>
  </body>
</html>
