<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <title>Lab Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><i>Photo Gallery</i></h1>
      <a href="/home">🏠</a>
    </header>
    <section class="container">
      
      <div class="gallery">
        <img class="foto" src="/images/hospital.jpeg" alt="">
        <h6><i>En el hospital</i></h6>
      </div>

      <div class="gallery">
        <img class="foto" src="/images/londres.jpeg" alt="">
        <h6><i>Viajando...Londres</i></h6>
      </div>

      <div class="gallery">
        <img class="foto" src="/images/ArletyD.jpeg" alt="">
        <h6><i>Se conocen Arlet y Dakota</i></h6>
      </div>

      <div class="gallery">
        <img class="foto" src="/images/family.jpeg" alt="">
        <h6><i>Viajando...León</i></h6>
      </div>

      <div class="gallery">
        <img class="foto" src="/images/viella.jpeg" alt="">
        <h6><i>Por las montañas...Viella</i></h6>
      </div>

      <div class="gallery">
        <img class="foto" src="/images/IMG_2149.jpeg" alt="">
        <h6><i>Dispuesto a volar...</i></h6>
      </div>

    </section>
  </body>
</html>
