<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <title>Lab Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><i>Sebas Corral Profile</i></h1>
      <a href="/about">🤙🏻</a>
    </header>
    <section>
      <p class="text-home">Mi nombre es Sebastián Corral Brito. <br> 
      Si quieres conocer mi perfil haz click en el icono</p>
    </section>
    <footer>
      <article>
        <h4>Contact Information</h4>
      </article>
      <article class="mail">
        <h5>Sebastián Corral Brito <br> email: sebascorralbrito@gmail.com</h5>
      </article>
      <ul>
        <li class="list"> <a href="https://twitter.com/home" target="_blank"> Twitter </a> </li>
        <li class="list"> <a href="https://www.instagram.corral_sebas/" target="_blank"> Instagram </a> </li>
      </ul>
    </footer>
  </body>
</html>
