<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <title>Lab Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1><i>Works</i></h1>
      <a href="/gallery">📸</a>
    </header>
    <section>
      <p class="text">
        Mi profesión es Enfermero. Trabajo como enfermero desde hace veinte años.<br>
        Me he postgraduado en Urgencias y Emergencias extrahospitalarias, en Cuidados Intensivos y 
        en Final de Vida. <br>
        Desde hace once años trabajo en una Unidad de Hospitalización a Domicilio, actualmente como Coordinador y
        como docente de nuevas incorporaciones y alumnos de Enfermería.<br>
        🚀🚀🚀 Pero como algunos ya sabeis... actualmente estoy haciendo el bootcamp web-dev. <br>
        Conseguiré hacer el cambio de carrera que tanto deseo? 🚀🚀🚀
      </p>
    </section>
  </body>
</html>
